:root {
  --font-base: "Poppins", sans-serif;

  /* Base */
  --color-bg: #080808;          /* Preto profundo */
  --color-bg-alt: #2A2A2A;      /* Cinza metálico */

  /* Texto */
  --color-text: #D9D9D9;        /* Cinza claro */
  --color-text-muted: #A3A3A3;  /* Cinza intermediário */

  /* Destaques */
  --color-primary: #ff0000;     /* Vermelho neon */
  --color-primary-dark: #A30021;/* Vermelho escuro */

  /* Extras */
  --color-border: #2A2A2A;
  --shadow-primary: rgba(255, 0, 51, 0.25);
}

* {
  font-family: var(--font-base);
}

body {
  background: var(--color-bg);
  color: var(--color-text);
}